nav {
  padding-inline: 1rem;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

button.vibrate-button {
  background-color: transparent;
  border: 1px solid gray;
  border-radius: 0.5rem;
  height: 2rem;
  padding: 2px 1rem;

  color: gray;

  cursor: pointer;
}

button.vibrate-button--disabled {
  text-decoration: line-through;
}
